html, body {
    margin: 0;
    overflow: hidden;
}
.navbar {
    background-color: #3f7be0;
}
.navbar-brand {
    padding-left: 2vh;
}
.navbar-brand img {
    width: 50px;
}
#landingLogo, #footerLogo {
    width: 20vh;
}
#info {
    background-color: #4d8fff;
}
.ss {
    width: 20vh;
}
.solutionIcon {
    width: 20vh;
}
footer {
    background-color: #26477d;
}
#launchPad {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: #3f7be0;
}