html {
    background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url(../assets/images/bg.jpeg); 
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}
body {
    background: transparent;
}
.navbar a{
    color: black;
}
.section {
    min-height: 100vh;
}
#homeSubtitle {
    color: rgb(144, 149, 149);
    font-style: italic;
}
#scrollDownBtn {
    color: white;
}
#scrollDownBtn:hover {
    color: black;
    transition: .3s;
}
.card img {
    max-width: 100%;
    max-height: 100%;
}